.menu { 
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: var(--navbar-height);
  left: 0;
  transform: translateX(-100%);
  transition: all .25s;
}
.menu.active { 
  transform: translateX(0);
}

.blur { 
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2px);
  position: absolute;
}

.menu__content {
  width: 25%;
  height: 100%;
  background-color: rgba(35,35,35, .8);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .4s;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.menu__tiles { 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  width: 100%;
  cursor: pointer;
  transition: all .1s;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid rgb(242,114,28);;
}
.menu__tiles:hover { 
  background-color: rgb(242,114,28);
}



.tech_btn { 
  background-color: rgb(13,246,155);
  border: none; 
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.tech_btn:hover { 
  background-color: rgb(5, 206, 129);
}
.tech_container { 
  display: none;
  width: 100%;
}
.tech_container.active { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tech_btn { 
  background-color: transparent;
  border-bottom: 1px solid rgb(13,246,155);;
}


.menu-tooltip {
  position: relative;
  display: flex;
  justify-content: center;
}
.menu-tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  background-color: rgb(242,114,28);
  color:black;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  bottom: 0%;
  left: 100%;
  transform: translateX(0%);
  opacity: 0;
  transition: opacity 0.3s;
}
.menu-tooltip:hover::after {
  opacity: 1;
}


@media screen and (max-width:768px) {
  .menu__content {
    width:100%;
  }
  .blur { 
    backdrop-filter: none;
  }
  .menu__content {
    background-color: rgba(35,35,35, 1);
  }
}

