.loginForm { 
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.4);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: .5s;
}
.loginForm.active { 
  opacity: 1;
  pointer-events: all;
}
.loginForm_content { 
  padding: 20px;
  border-radius: 20px;
  background-color: white;
  height: 50vh;
  width: 50vw;
  transform: scale(.5);
  transition: .4s all;
}
.loginForm_content.active { 
  transform: scale(1);
}